* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.container-fluid {
  width: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;
}

.hiddden-xs {
  display: none;
}

.header-main-fluid {
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    #3dcdbc,
    #2bc3c0,
    #22b8c2,
    #27adc1,
    #33a2bd
  );

}
.header-main{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 15px;
}

.header-main >img{
  margin: 20px;
  width: 80%;
   max-width: 300px;
}

.header-main >div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-main >div >h2{
   font-family: 'Raleway', sans-serif;
   font-weight: 300;
   font-size: 20px;
   color: #ffffff;
   text-align: center;
}

.header-main >div >p{
   font-family: 'Raleway', sans-serif;
   font-weight: 300;
   font-size: 15px;
   color: #ffffff;
   margin-bottom: 10px;
}

.header-main >div >a{
   display: inline-block;
   background-color: #fff;
   margin-bottom: 20px;
   padding: 10px;
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   color: #22b8c2;
   text-transform: uppercase;
  }



.adv{
  background-color: gainsboro;
}

.adv >div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.adv >div >a{
  padding: 10px;
}



.oferta{
  background-color: #f8f8f8;
}


// offers-----------------------------------------------
.offers{
  padding: 100px 0;
  background-color: #f8f8f8;
}

.offers >div{
  margin:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.offers >div >h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
}

.offers >div >p{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.offers >div >a{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
  letter-spacing: 1px;
  background-color: #00ffa3;
  text-decoration: none;
  padding: 20px;
  box-shadow: 10px 10px 34px -5px rgba(0,0,0,0.29);
}

// article -------------------------------------------------

.artykuly{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f8f8f8;
}

.artykuly > article{
  height: 400px;
  width: 300px;
  padding: 0 20px;
  margin: 50px 20px;
  background-color: #fff;
  box-shadow: 10px 10px 34px -5px rgba(0,0,0,0.29);
}


.artykuly > article >h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
  >span{
    font-family: 'icomoon';
    color: #00ffa3;
    font-size: 20px;
    margin: 5px;
  }
}

.artykuly > article >p{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: black;
}

// products
.produkty{
  display: flex;
  align-content: center;
  flex-direction: column;
}
.produkty >h2{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 40px;
  padding: 20px 0;
}

.produkty >p{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: black;
  margin-bottom: 40px;
}

.produkty >a{
  margin: 40px auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
  letter-spacing: 1px;
  background-color: #00ffa3;
  text-decoration: none;
  padding: 5px 20px;
  box-shadow: 10px 10px 34px -5px rgba(0,0,0,0.29);
}

.zdjecia{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.zdj1{
  display: flex;
  flex-direction: column;
  img:nth-child(1){
    height: 200px;
    width: 300px;
    background-color: #00ffa3;
    margin: 20px;
  }
  img:nth-child(2){
    height: 200px;
    width: 300px;
    background-color:cornflowerblue;
    margin: 20px;
  }

}
.zdj2{
  display: flex;
  height: 440px;
  width: 300px;
  margin: 20px;
  background-color: chocolate;

}
.zdj3{
  display: flex;
  flex-direction: column;
  img:nth-child(1){
    height: 200px;
    width: 300px;
    background-color: crimson;
    margin: 20px;
  }
  img:nth-child(2){
    height: 200px;
    width: 300px;
    background-color: darkblue;
    margin: 20px;
  }
}

// cytaty----------------------------------------------------------------------
section.napisy {
  background-color: #F6F6F6;
  height: 30rem;
  .quotes1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      >h2 {
          display: inline-block;
          font-family: 'Raleway', sans-serif;
          font-size: 3rem;
          font-weight: 400;
          color: rgb(63, 63, 63);
          padding-bottom: 1rem;
      }
      >p {
          display: inline-block;
          font-family: 'Raleway', sans-serif;
          color: gray;
          font-size: 2rem;
          font-weight: 400;
          text-align: center;
          width: 70rem;
      }

  }

}

section.quotes-fluid {
  display: flex;
  background-color:#F6F6F6;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50 0;

  .quotes {

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border: 2rem;
      align-items: flex-start;
      margin: 50 0;
      .cytat{

        width: 450px;
      }
      .kolo1 {
          height: 5.5rem;
          width: 5.5rem;
          background-image: linear-gradient(to bottom, #c4c4c4, #b1b1b1, #9e9e9e, #8c8c8c, #7a7a7a);
          border-radius: 50%;
          margin-right: 2rem;
      }
      .kolo2 {
          height: 5.5rem;
          width: 5.5rem;
          background-image: linear-gradient(to bottom, #ded2d2, #c5bdbf, #ada8ab, #959496, #808080);
          border-radius: 50%;
          margin-right: 2rem;
          margin-left: 2rem;
      }
      .kolo3 {
          height: 5.5rem;
          width: 5.5rem;
          background-image: linear-gradient(to bottom, #999999, #8b8b8b, #7e7e7e, #717171, #646464);
          border-radius: 50%;
          margin-right: 2rem;
      }
      .kolo4 {
          height: 5.5rem;
          width: 5.5rem;
          background-image: linear-gradient(to bottom, #717171, #656565, #5a5a5a, #4f4f4f, #444444);
          border-radius: 50%;
          margin-right: 2rem;
          margin-left: 2rem;
      }
      >article {
          width: 40%;
          padding: none;
          font-family: 'Raleway', sans-serif;
          color:gray;
          font-size: 1.8rem;
          font-weight: 400;
          > i.nazwiska{
              margin-left: 100px;
              font-size: 1.5rem;
              color: rgb(102, 102, 102);
              font-weight: 800;
          }
      }
  }
}
// footer---------------------------------------------------------------
footer.footer-fluid {
  background-color: #262626;

  .footer-napis {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      >h2{
          font-family: 'Raleway', sans-serif;
          font-size:  25px;
          font-weight: 300;
          color: #fff;
          margin: 2rem 0;
      }
      .footer-button{
          display: flex;
          height: 5rem;
          >a{
              text-decoration: none;
              display: inline-block;
              .przycisk{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 5rem;
                  width: 15rem;
                  background-color: #262626;
                  text-align: center;
                  margin: 0;
                  padding:2rem;
                  font-size: 1.5rem;
                  font-weight: 600;
                  border: 2px solid;
                  border-color: #fff;
                  >span{
                      font-family: 'Raleway', sans-serif;
                      color: #fff;
                      letter-spacing: 1px;
                  }
              }
          }
      }
  }

  .footer-main {
      display: flex;
      flex-wrap: wrap;
      background-color: #262626;

      .footer-cube{
          display: flex;
          flex-direction: column;
          background-color: #262626;
          height: 250px;
          width: 500px;
          >h2{
              font-family: 'Raleway', sans-serif;
              color: #fff;
              font-size: 2rem;
              font-weight: 300;
              margin-bottom: 1rem;
          }
          >p{
              font-family: 'Raleway', sans-serif;
              color: rgb(85, 85, 85);
              font-size: 1.6rem;
              font-weight: 400;
          }
      }

      .footer-list{
          background-color: #262626;
          width: 400px;
          >ul{
              list-style: none;
              line-height: 2.5rem;
              margin-left: 5rem;
              >li{
                  font-family: 'Raleway', sans-serif;
                  font-size: 1.5rem;
                  font-weight: 200;
                  >a{
                      text-decoration: none;
                      color: #00FFA3;
                  }
              }
          }
      }

      .footer-contact {
          background-color: #262626;
          width: 400px;
          >p {
              font-family: 'Raleway', sans-serif; 
              color: #00FFA3;
              font-size: 1.5rem;
              font-weight: 200;
              margin-left: 4rem;
          }
      }
  }
}

.footer-end{
  width: 100%;

  background-color: #1A1A1A;
  display: flex;
  flex-wrap: wrap;
  .footer-end-small {
      display: flex;
      justify-content: space-between;
      text-align: center;
      >p{
          font-family: 'Raleway', sans-serif;
          color: rgb(85, 85, 85);
          font-size: 1.5rem;
          margin-top: 2.2rem;
          >a{
              text-decoration: none;
              color:#00FFA3;
              font-size: 1.5rem;
          }
      }
  }
}


// media----------------------------------------------------
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .hidden-xs {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .hidden-sm {
    display: block;
  }
  .hidden-md {
    display: none;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .hidden-md {
    display: block;
  }
  .hidden-lg {
    display: none;
  }

  .header-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 100vh;
 }

 .header-main >div{
  align-items: flex-start;
  margin-left: 20px;
}

.header-main >div >a:hover{
  background-color: antiquewhite;
  transition: 0.5s;
}

.artykuly > article:hover{
  transform: translateY(2rem);
  transition: 0.5s;
}
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .hidden-lg {
    display: block;
  }
  .hidden-xl {
    display: none;
  }
}


