* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.hiddden-xs {
  display: none;
}

.header-main-fluid {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3dcdbc), color-stop(#2bc3c0), color-stop(#22b8c2), color-stop(#27adc1), to(#33a2bd));
  background-image: linear-gradient(to right bottom, #3dcdbc, #2bc3c0, #22b8c2, #27adc1, #33a2bd);
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.header-main > img {
  margin: 20px;
  width: 80%;
  max-width: 300px;
}

.header-main > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main > div > h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.header-main > div > p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}

.header-main > div > a {
  display: inline-block;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #22b8c2;
  text-transform: uppercase;
}

.adv {
  background-color: gainsboro;
}

.adv > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adv > div > a {
  padding: 10px;
}

.oferta {
  background-color: #f8f8f8;
}

.offers {
  padding: 100px 0;
  background-color: #f8f8f8;
}

.offers > div {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers > div > h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
}

.offers > div > p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.offers > div > a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
  letter-spacing: 1px;
  background-color: #00ffa3;
  text-decoration: none;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 34px -5px rgba(0, 0, 0, 0.29);
          box-shadow: 10px 10px 34px -5px rgba(0, 0, 0, 0.29);
}

.artykuly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f8f8f8;
}

.artykuly > article {
  height: 400px;
  width: 300px;
  margin: 50px 20px;
  padding: 50px 20px;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 34px -5px rgba(0, 0, 0, 0.29);
          box-shadow: 10px 10px 34px -5px rgba(0, 0, 0, 0.29);
}

.artykuly > article > h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
}

.artykuly > article > h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: black;
}

.produkty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.produkty > h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 40px;
  padding: 20px 0;
}

.produkty > p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: black;
  margin-bottom: 40px;
}

.produkty > a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .hidden-xs {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .hidden-sm {
    display: block;
  }
  .hidden-md {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .hidden-md {
    display: block;
  }
  .hidden-lg {
    display: none;
  }
  .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px;
    height: 100vh;
  }
  .header-main > div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 20px;
  }
  .header-main > div > a:hover {
    background-color: antiquewhite;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .artykuly > article:hover {
    margin-top: 80px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .hidden-lg {
    display: block;
  }
  .hidden-xl {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */